/* ==========================================================================
   Header
   ========================================================================== */

header {

  .topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
  }

  .navbar {
    .btn {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  canvas {
    position: absolute;
    z-index: 9;
    top: 0;
  }
}

.carousel-inner {
  img {
    position: relative;
    z-index: 0;
  }
}

.slide-caption {
  text-shadow: none;
  transform: translateY(-50%);
  top: calc(50% + 25px);
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 20;
  @include hpad(15);
}

.slide-text {
  text-align: center;

  .slide-logo {
    width: 60px;
    margin-bottom: 20px;
    @include center-block();
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-style: italic;
  }
}

.slide-inner > .item {
  overflow: hidden;
  height: auto;
  //max-height: 720px;

  .img-overlay {
    position: absolute;
    z-index: 8;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparentize(#000,0.5);
  }

  > img {
    height: 375px;
    width: auto;
    max-width: none;
  }
}

.btn-slide {
  margin-top: 15px;

  .btn {
    &:hover {
      color: #fff;
    }
  }
}


/* Small devices - Size SM */
@media (min-width: $screen-sm) {

  .slide-inner > .item {
    > img {
      height: 500px;
    }
  }

  .slide-text {
    h1 {
      font-size: 36px;
      margin-bottom: 15px;
    }

    p {
      font-size: 20px;
    }

    .slide-logo {
      width: 90px;
    }
  }

  .btn-slide {
    margin-top: 25px;

    .btn {
      @include hpad(30);
    }
  }

}


/* bigger devices - Size md */
@media (min-width: $screen-md) {

  .slide-text {
    h1 {
      font-size: 42px;
      margin-bottom: 25px;
    }

    p {
      font-size: 24px;
    }

    .slide-logo {
      width: 120px;
      margin-bottom: 40px;
    }

    .btn-slide {
      margin-top: 40px;
    }
  }

  .slide-inner > .item > img {
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
  }

}

