/* ==========================================================================
   Home
   ========================================================================== */

/* Countdown */
.countdown-wrap {
  padding-top: 30px;
}

.countdown {
  padding: 15px;
  background-color: #f4f4f4;
  text-align: center;

  h1 {
    font-size: 23px;
    font-weight: bold;
    color: $dark-text;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .big-time-part {
    display: inline-block;
    width: 24%;
    padding: 0 2px;
    position: relative;
    line-height: normal;
    min-width: 30px;

    .timer-num {
      font-size: 24px;
      font-weight: bold;
      position: relative;
    }

    .timer-text {
      font-size: 14px;
      color: #999;
    }
  }

  .bonus {
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    font-weight: 700;
    color: #696969;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: center;
    padding-top: 7px;
  }

  .b-day {
    padding: 0 1px;
    font-family: $light-font;
    font-size: 8px;
  }

}


/* Intro Text */
.introduction {
  font-size: 36px;
  padding: 50px 0;
  max-width: 767px;
  margin: 0 auto;

  h1 {
    text-align: center;
    font-weight: 700;
    color: $grey-black;
    padding-bottom: 10px;
    font-size: 24px;
  }

  .part {
    padding: 30px 0 0 0;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: $primary;
    }

    p {
      font-size: 16px;
      color: $grey-black;
    }

  }

}

/* Gradient 1 */
.gradient-bg {
  background: url("/images/id-trade.jpg") no-repeat;
  min-height: 387px;
  position: relative;

  .thomas {
    position: absolute;
    bottom: 0;
    img {
      width: 175px;
    }
  }

  .thomas-words {
    width: 100%;
    margin: 9% 0 0 0;

    h2 {
      font-size: 20px;
      line-height: normal;
      color: $dark-text;
    }

    p {
      font-size: 16px;
      font-family: $light-font;
      color: $dark-text;
      padding-top: 10px;
    }

  }

  .bg {
    position: relative;
    min-height: 387px;
  }

  .ford {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      width: 175px;
    }
  }

  .ford-words {
    margin: 6% 0 0 0;
    text-align: right;

    h2 {
      font-size: 20px;
      line-height: normal;
      color: $dark-text;
    }

    p {
      font-size: 16px;
      font-family: $light-font;
      color: $dark-text;
      padding-top: 10px;
    }

  }

  .bill {
    position: absolute;
    bottom: 0;
    img {
      width: 175px;
    }
  }

  .bill-words {
    margin: 16% 0 0 0;

    h2 {
      font-size: 20px;
      line-height: normal;
      color: $dark-text;
    }

    p {
      font-size: 16px;
      font-family: $light-font;
      color: $dark-text;
      padding-top: 10px;
    }

  }

}

/* Planned Projects */
.planned {
  margin: 0 auto;
  padding: 50px 0;

  h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: $grey-black;
    padding-bottom: 30px;
    position: relative;

    &:before {
      content: "";
      background: url("/images/crypto-united-logo.png") no-repeat center center / 49px 49px;
      position: relative;
      display: block;
      height: 49px;
      width: 49px;
      margin: 0 auto 30px;
    }
  }

}

.project {
  padding-top: 30px;

  .left-img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 20px;

    img {
      margin: 0 auto;
    }
  }

  .right-text {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding-left: 0;
    text-align: center;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: $primary;
    }

    p {
      font-family: $light-font;
      font-size: 16px;
      color: $grey-black;
      line-height: normal;
    }
  }

  &.alt {

    .left-img {
      position: relative;
    }

    .right-text {
      position: relative;
    }
  }
}


/* Timeline */
.timeline {

  padding: 50px 0;
}

.time-title {

  h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: $grey-black;
    padding-bottom: 30px;
    position: relative;

    &:before {
      content: "";
      background: url("/images/crypto-united-logo.png") no-repeat center center / 49px 49px;
      position: relative;
      display: block;
      height: 49px;
      width: 49px;
      margin: 0 auto 30px;
    }
  }

}

.frame {
  height: 350px;
  overflow: hidden;
  margin: 20px 0;
}

.controls {
  .control-time {
    text-align: center;

    button {
      background-color: #eee;
      border-radius: 50px;

      &:focus {
        outline: none;
      }
    }

  }
}

/*timeline*/

.timeline-centered {
  position: relative;
  padding: 70px 0;
}

.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  background: $grey-black;
  left: 50%;
  top: 17px;
  bottom: 16px;
  margin-left: 0px;
}

.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
  float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -12px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -130px;
  text-align: left;
  width: 120px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 24px;
  border-right: 1px solid $primary;
  border-left: none;
  padding-right: 5px;
  text-align: right;
  right:0;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -11px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -130px;
  text-align: right;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: -9px;
  width: 120px;
}

.time-active {
  color: $primary;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
  font-size: 18px;
  font-family: $normal-font;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #e5e0dc;
  color: #737881;
  display: block;
  width: 15px;
  height: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 2px $grey-black;
  -webkit-box-shadow: 0 0 0 2px $grey-black;
  box-shadow: 0 0 0 2px $grey-black;
  line-height: 40px;
  font-size: 15px;
  float: left;
}

.timeline-centered .timeline-entry {
  position: relative;
  width: 49%;
  float: right;
  margin-bottom: 70px;
  clear: both;
  list-style: none;

  &.active {
    .timeline-icon {
      background-color: $primary;
      box-shadow: none;
    }
    .timeline-time {
      color: $primary;
    }
  }
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: absolute;
  background: transparent;
  padding: 0;
  margin-left: 24px;
  margin-top: 0;
  padding-left: 5px;
  border-left: 1px solid $primary;
  transform: translateY(-30%);
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #737881;
  font-family: $light-font;
  font-size: 13px;
  margin: 0;
  line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}

/*-- #timeline --*/

.developed {
  text-align: center;
  min-height: 300px;
  display: table;
  width: 100%;

  .team-developed {
    display: table-cell;
    vertical-align: middle;
    width: 100%;

    h1 {
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      color: $grey-black;
      padding-bottom: 30px;
      position: relative;

      &:before {
        content: "";
        background: url("/images/crypto-united-logo.png") no-repeat center center / 49px 49px;
        position: relative;
        display: block;
        height: 49px;
        width: 49px;
        margin: 0 auto 30px;
      }
    }

    img { padding: 50px 0 0 0;}

    p {
      a {
        color: #fff;
        text-decoration: none;
        font-family: $normal-font;
      }
    }

    .flags {
      margin-top: 20px;
      img {
        margin: 0 15px;
      }
    }

  }

  .team-logos {

  }

  .team-logo-wrap {
    margin-top: 50px;
    text-align: center;

    span {
      font-size: 22px;
      color: #666;
      display: block;
      margin-top: 12px;
    }
  }

  .team-logo {
    display: inline-block;

    img {
      padding-top: 0;
    }
  }

}

.member {
  padding-bottom: 30px;
  img {
    margin: 0 auto;
    width: 150px;
  }
  h3 {
    font-size: 22px;
    font-weight: bold;
    font-family: $normal-font;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  small {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: $light-font;
    text-align: center;
  }

  p {
    font-size: 16px;
    font-family: $light-font;
    text-align: justify;
    padding-top: 5px;
    line-height: normal;
  }

}

.developer {
  @include vpad(30);

  h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #393939;
    padding-bottom: 30px;
    position: relative;

    &:before {
      content: "";
      background: url("/images/crypto-united-logo.png") no-repeat center center / 49px 49px;
      position: relative;
      display: block;
      height: 49px;
      width: 49px;
      margin: 0 auto 30px;
    }
  }

}

.lang {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  li {
    padding-right: 0;
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }

    a {
      img {
        margin: 0 auto;
      }
    }

  }
}

.coin-logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  li {
    display: inline-block;
    padding: 10px 0;

    &:last-child {
      padding-right: 0;
    }

    a {

      img {
        margin: 0 auto;
        width: 80%;
      }
    }

  }
}


/* Very Small devices - Size XXS */
@media (min-width: $screen-xxs) {


}


/* Small devices - Size XS */
@media (min-width: $screen-xs) {

  .gradient-bg {
    min-height: 250px;

    .bg {
      position: relative;
      min-height: 250px;
    }

    .thomas-words {
      margin-top: 10%;
      padding-left: 200px;
    }

    .thomas img {
      width: 190px;
    }

    .ford-words {
      margin-top: 9%;
      text-align: right;
      padding-right: 190px;
    }

    .ford img {
      width: 190px;
    }

    .bill-words {
      margin-top: 19%;
      padding-left: 190px;
    }

    .bill img {
      width: 190px;
    }
  }

  /* Planned Projects */
  .planned {
    @include vpad(70);

    h1 {
      font-size: 28px;
    }

  }

  .project {

    .left-img {
      width: 20%;
      margin-bottom: 0;

      img {
        width: 70%;
      }
    }

    .right-text {
      width: 75%;
      padding-left: 30px;
      text-align: left;

      h2 {
        font-size: 22px;
      }

      p {
        font-size: 18px;
      }
    }

    &.alt {
      .left-img {
        left: 75%;
      }

      .right-text {
        padding-left: 0;
        right: 20%;
        text-align: right;
        padding-right: 30px;
      }
    }

  }

/* Timeline */
  .timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -13px;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -15px;
  }

  .member img {
    margin: 0 auto;
    width: 150px;
  }

  .lang {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    li {
      padding-right: 0;
      display: inline-block;

      &:last-child {
        padding-right: 0;
      }

      a {
        img {
          margin: 0 auto;
          width: 70%;
        }
      }

    }
  }

}

@media (min-width: $screen-xxs) and (max-width: $screen-sm) {

  .col-mid {
    width: 33.33%;
    float: left;

    &:first-child {
      width: 100%;
      margin: 0px auto;
    }
  }

}

/* Small devices - Size SM */
@media (min-width: $screen-sm) {

  /* Countdown */
  .countdown-wrap {
    padding-top: 40px;
  }

  .countdown {
    padding: 30px;

    h1 {
      margin-bottom: 25px;
    }

    .bonus {
      font-size: 18px;
      padding-top: 15px;
    }

    .big-time-part {
      .timer-num {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }
  }

  .gradient-bg {

    .thomas-words {
      padding-left: 225px;
    }

    .thomas img {
      width: 215px;
    }

    .ford-words {
      padding-right: 215px;
    }

    .ford img {
      width: 215px;
    }

    .bill-words {
      margin-top: 13%;
      padding-left: 215px;
    }

    .bill img {
      width: 215px;
    }
  }

/* Timeline */
  .timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -15px;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -15px;
  }

  .lang {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    li {
      padding-right: 0;
      display: inline-block;

      &:last-child {
        padding-right: 0;
      }

      a {
        img {
          margin: 0 auto;
          width: 70%;
        }
      }

    }
  }

  .developed {
    min-height: 500px;

    .team-logos {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    .team-logo-wrap {
      float: left;
      width: 50%;
      margin-top: 70px;

      img {
        padding-top: 0;
      }
    }

  }

}


/* bigger devices - Size md */
@media (min-width: $screen-md) {

  .gradient-bg {

    .thomas-words {
      margin-top: 9%;
    }

    .ford-words {
      margin-top: 9%;
    }
  }

  /* Timeline */
  .timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -17px;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -17px;
  }

  .lang {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    li {
      padding-right: 0;
      display: inline-block;

      &:last-child {
        padding-right: 0;
      }

      a {
        img {
          margin: 0 auto;
          width: 70%;
        }
      }

    }
  }

  .developed {
    min-height: 600px;

    .team-logo-wrap {
      img {
        padding-top: 0;
      }
    }

  }

}

/* large screen - Size lg */
@media (min-width: $screen-lg) {

  /* Countdown */
  .countdown-wrap {
    padding-top: 50px;
  }

  .countdown {
    .big-time-part {
      .timer-num {
        font-size: 36px;
        margin-bottom: 20px;
        padding-top: 15px;
      }
    }
  }

}


/*large screen - size xl*/
@media (min-width: $screen-xl) {

  /* Introduction */
  .introduction {
    @include vpad(70);

    h1 {
      font-size: 36px;
    }

    .part {
      padding-top: 50px;

      h2 {
        font-size: 30px;
      }
      p {
        font-size: 24px;
      }

    }

  }

  .gradient-bg {
    min-height: 387px;

    .thomas {
      img {
        width: 325px;
      }
    }

    .thomas-words {
      padding-left: 335px;

      h2 {
        font-size: 30px;
        line-height: 50px;
      }

      p {
        font-size: 26px;
        margin-top: 35px;
        padding-top: 0;
      }
    }

    .bg {
      min-height: 387px;
    }

    .ford {
      img {
        width: 325px;
      }
    }

    .ford-words {
      padding-right: 335px;
      margin-top: 6%;

      h2 {
        font-size: 30px;
        line-height: 50px;
      }

      p {
        font-size: 26px;
        padding-top: 35px;
      }
    }

    .bill {
      img {
        width: 324px;
      }
    }

    .bill-words {
      padding-left: 334px;
      margin-top: 16%;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 26px;
        padding-top: 25px;
      }
    }

  }

  /* Planned Projects */
  .planned {
    width: 767px;

    h1 {
      font-size: 36px;
    }
  }

  .project {

    .left-img {
      img {
        width: auto;
      }
    }

    .right-text {
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 24px;
      }
    }
  }

  /*--time line--*/

  .timeline {
    padding: 70px 0;
  }

  .time-title {
    h1 {
      font-size: 36px;
    }
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -20px;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -250px;
    text-align: left;
    width: 220px;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 40px;
    border-right: 1px solid $primary;
    border-left: none;
    padding-right: 15px;
    text-align: right;
    right:0;
  }

  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -18px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -255px;
    text-align: right;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: -15px;
    width: 230px;
  }

  .time-active {
    color: $primary;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
    font-size: 26px;
    font-family: $normal-font;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    /*position: relative;*/
    background: transparent;
    padding: 0;
    margin-left: 40px;
    /*margin-top: -25px;*/
    padding-left: 15px;
    border-left: 1px solid $primary;
    position: absolute;
    margin-top: 0;
    bottom: 0;
    transform: translateY(30%);
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    font-size: 18px;
  }

  /*-- #timeline*/

  .developed {
    .team-developed {
      h1 {
        font-size: 36px;
      }
    }
  }

  .member {
    padding-bottom: 0;
    img {
      margin: 0 auto;
      width: 70%;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      font-family: $normal-font;
      text-align: center;
      padding-top: 35px;
      padding-bottom: 15px;
    }
    small {
      display: inline-block;
      width: 100%;
      font-size: 22px;
      font-family: $light-font;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-family: $light-font;
      text-align: justify;
      padding-top: 35px;
      line-height: 40px;
    }

  }

  .developer {
    @include vpad(50);

    h1 {
      font-size: 36px;
    }
  }

  .lang {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    li {
      padding-right: 10px;
      display: inline-block;

      &:last-child {
        padding-right: 0;
      }

      a {

        img {

        }
      }

    }
  }

  //.coin-logo {
  //  text-align: center;
  //  padding-top: 50px;
  //  padding-bottom: 50px;
  //
  //  li {
  //    padding: 0;
  //    display: inline-block;
  //
  //    &:last-child {
  //      padding-right: 0;
  //    }
  //
  //    a {
  //
  //      img {
  //        width: auto;
  //      }
  //    }
  //
  //  }
  //}

}

/*large screen - size xxl*/
@media (min-width: $screen-xxl) {

  .gradient-bg {
    background-size: 100%;
  }

  .member {
    padding-bottom: 0;
    img {
      margin: 0 auto;
      width: auto;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      font-family: $normal-font;
      text-align: center;
      padding-top: 35px;
      padding-bottom: 15px;
    }
    small {
      display: inline-block;
      width: 100%;
      font-size: 22px;
      font-family: $light-font;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-family: $light-font;
      text-align: justify;
      padding-top: 35px;
      line-height: 40px;
    }

  }

}
