/* ==========================================================================
   Login-user
   ========================================================================== */





.login-user-right {
  padding: 20px 15px;

  .line-form1 {

    clear: both;
    display: inline-block;
    width: 100%;

    hr {
      border-top:1px solid #d7d7d7;
      padding: 0;

    }

  }

  .create-user-account {
    display: inline-block;
    width: 100%;

    a {
      text-decoration: none;
      float: left;
      color: #000000;
      font-size: 18px;
      font-family: $normal-font;
      font-weight: 400;
      padding-top: 10px;
    }

    .reg {
      float: right;
      font-family: $normal-font;
      font-weight: bold;
      font-size: 20px;
      background-color: #fff;
      border: 1px solid rgb(195, 195, 195);
      border-radius: 3px;
      width: auto;
      height: auto;
      color: #000000;
      letter-spacing: 1px;
      padding: 10px;

    }

  }

}

.form-user-login {

  width: 100%;
  margin: 0 auto;

  .login-user-form {

    margin-bottom: 30px;
  }

  h1 {

    font-size: 32px;
    font-family: $normal-font;
    padding-bottom: 30px;
    padding-top: 20px;
  }

}

/*.forgot-btn {
  display: inline-block;
  width: 100%;

  a {
    text-decoration: none;
    float: left;
    color: $primary;
    font-size: 20px;
    font-family: $normal-font;
    font-weight: 400;
    padding-top: 10px;
  }

  button {
    float: right;
    font-family: $normal-font;
    font-weight: bold;
    font-size: 20px;
    background-color: $primary;
    border-radius: 3px;
    width: auto;
    height: auto;
    color: #fff;
    letter-spacing: 1px;

    &:hover {

      background-color: $primary;
      color: #fff;
      border-color: transparent;

    }

  }

}

.fg1 {
  margin-bottom: 30px;

  label {

    font-size: 23px;
    font-family: $normal-font;
    font-weight: 400;
    margin-bottom: 15px;
  }

}

.fc1 {

  border-style: solid;
  border-width: 2px;
  border-color: rgb(231, 231, 231);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 100%;
  font-family: $normal-font;
  font-weight: 400;
  font-size: 18px;
  color: #5d5d5d;
  padding-left: 15px;


  &:focus {
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.07);

  }
}*/



@media (min-width: $screen-xxs) and (max-width: $screen-sm) {

  .login-user-right {
    padding: 0 15px;
    min-height: 100vh;

    .form-user-login {

      width: 100%;
      max-width: 70%;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 50px;


      .login-user-form {

        margin-bottom: 30px;
      }

      h1 {

        font-size: 32px;
        font-family: $normal-font;
        padding-bottom: 30px;
        padding-top: 20px;
      }

      .forgot-btn {
        display: inline-block;
        width: 100%;

        a {
          text-decoration: none;
          float: left;
          color: $primary;
          font-size: 20px;
          font-family: $normal-font;
          font-weight: 400;
          padding-top: 10px;
        }

        button {
          float: right;
          font-family: $normal-font;
          font-weight: bold;
          font-size: 20px;
          background-color: $primary;
          border-radius: 3px;
          width: auto;
          height: auto;
          color: #fff;
          letter-spacing: 1px;
        }

      }

      .fg1 {
        margin-bottom: 30px;

        label {

          font-size: 23px;
          font-family: $normal-font;
          font-weight: 400;
          margin-bottom: 15px;
        }

      }

      .fc1 {

        border-style: solid;
        border-width: 2px;
        border-color: rgb(231, 231, 231);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        height: 60px;
        font-family: $normal-font;
        font-weight: 400;
        font-size: 23px;
        color: #5d5d5d;
        padding-left: 15px;


        &:focus {
          border: none;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.07);

        }
      }

    }

    .line-form1 {

      clear: both;
      display: inline-block;
      width: 100%;

      hr {
        border-top:1px solid #d7d7d7;
        padding: 0;

      }

    }

    .create-user-account {
      display: inline-block;
      width: 100%;

      a {
        text-decoration: none;
        float: left;
        color: #000000;
        font-size: 20px;
        font-family: $normal-font;
        font-weight: 400;
        padding-top: 10px;
      }

      .reg1 {
        float: right;
        font-family: $normal-font;
        font-weight: bold;
        font-size: 20px;
        background-color: #fff;
        border: 1px solid rgb(195, 195, 195);
        border-radius: 3px;
        width: auto;
        height: auto;
        color: #000000;
        letter-spacing: 1px;
        padding: 10px;

      }

    }

  }

}

/* Small devices - Size SM */
@media (min-width: $screen-sm) {


  .login-user-right {
    padding: 0 15px;
    min-height: 100vh;

    .form-user-login {

      width: 100%;
      max-width: 70%;
      margin: 0 auto;
      padding-top: 50px;

      .login-form {

        margin-bottom: 30px;
      }

      h1 {

        font-size: 32px;
        font-family: $normal-font;
        padding-bottom: 30px;
        padding-top: 20px;
      }

      .forgot {
        display: inline-block;
        width: 100%;

        a {
          text-decoration: none;
          float: left;
          color: $primary;
          font-size: 20px;
          font-family: $normal-font;
          font-weight: 400;
          padding-top: 10px;
        }

        button {
          float: right;
          font-family: $normal-font;
          font-weight: bold;
          font-size: 20px;
          background-color: $primary;
          border-radius: 3px;
          width: auto;
          height: auto;
          color: #fff;
          letter-spacing: 1px;
        }

      }

      .fg {
        margin-bottom: 30px;

        label {

          font-size: 23px;
          font-family: $normal-font;
          font-weight: 400;
          margin-bottom: 15px;
        }

      }

      .fc {

        border-style: solid;
        border-width: 2px;
        border-color: rgb(231, 231, 231);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        height: 60px;
        font-family: $normal-font;
        font-weight: 400;
        font-size: 23px;
        color: #5d5d5d;
        padding-left: 15px;


        &:focus {
          border: none;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.07);

        }
      }

    }

    .line-user-form {

      clear: both;
      display: inline-block;
      width: 100%;

      hr {
        border-top:1px solid #d7d7d7;

      }

    }

    .create-user-account {
      display: inline-block;
      width: 100%;

      a {
        text-decoration: none;
        float: left;
        color: #000000;
        font-size: 20px;
        font-family: $normal-font;
        font-weight: 400;
        padding-top: 10px;
      }

      .reg1 {
        float: right;
        font-family: $normal-font;
        font-weight: bold;
        font-size: 20px;
        background-color: #fff;
        border: 1px solid rgb(195, 195, 195);
        border-radius: 3px;
        width: auto;
        height: auto;
        color: #000000;
        letter-spacing: 1px;
        padding: 10px;

      }

    }

  }



}

/*medium screen landscape*/

@media (min-width: $screen-md) and (orientation: landscape) {

}

/* bigger devices - Size md */
@media (min-width: $screen-md) {

 /* .login-user-right {
    width: 100%;
    !*display: table-cell;
    vertical-align: middle;*!

    .form-user-login {

      width: 100%;
      max-width: 50%;
      margin: 0 auto;

      .login-user-form {

        margin-bottom: 30px;
      }

      h1 {

        font-size: 42px;
        font-family: $normal-font;
        padding-bottom: 50px;
        padding-top: 0;
      }

      .forgot-btn {
        display: inline-block;
        width: 100%;

        a {
          text-decoration: none;
          float: left;
          color: $primary;
          font-size: 20px;
          font-family: $normal-font;
          font-weight: 400;
          padding-top: 10px;
        }

        button {
          float: right;
          font-family: $normal-font;
          font-weight: bold;
          font-size: 20px;
          background-color: $primary;
          border-radius: 3px;
          width: auto;
          height: auto;
          color: #fff;
          letter-spacing: 1px;
        }

      }

      .fg {
        margin-bottom: 30px;

        label {

          font-size: 23px;
          font-family: $normal-font;
          font-weight: 400;
          margin-bottom: 15px;
        }

      }

      .fc1 {

        border-style: solid;
        border-width: 2px;
        border-color: rgb(231, 231, 231);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        height: 60px;
        font-family: $normal-font;
        font-weight: 400;
        font-size: 23px;
        color: #5d5d5d;
        padding-left: 15px;


        &:focus {
          border: none;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.07);

        }
      }

    }

    .line-user-form {

      clear: both;
      display: inline-block;
      width: 100%;

      hr {
        border-top:1px solid #d7d7d7;

      }

    }

    .create-user-account {
      display: inline-block;
      width: 100%;

      a {
        text-decoration: none;
        float: left;
        color: #000000;
        font-size: 20px;
        font-family: $normal-font;
        font-weight: 400;
        padding-top: 10px;
      }

      .reg1 {
        float: right;
        font-family: $normal-font;
        font-weight: bold;
        font-size: 20px;
        background-color: #fff;
        border: 1px solid rgb(195, 195, 195);
        border-radius: 3px;
        width: auto;
        height: auto;
        color: #000000;
        letter-spacing: 1px;
        padding: 10px;

      }

    }

  }*/

}

/* large screen - Size lg */
@media (min-width: $screen-lg) {

}

/*large screen - size xl*/
@media (min-width: $screen-xl) {


}

/*large screen - size xxl*/
@media (min-width: $screen-xxl) {

}
